/* Navigation */

nav
{
    text-align: center;
    margin-top: 8em;
    margin-right: 70px;
}

.navbar 
{
    background-color: white;
    margin-top: auto;
    position: relative;
    width: 100%;
    font-family: 'Gaegu', sans-serif;
}

/* Links inside the navbar */
.navbar a, .navbtn, .dropbtn
{
    display: block;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #333;
    text-align: center;
    text-decoration: none;
}

/* The dropdown container, CSS Overflow */

/* Dropdown button */
.dropdown, .dropbtn, .navbtn
{
    font-size: 16px;
    border: none;
    outline: none;
    
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

/* Add a red background color to navbar links on hover */
.navbtn a:hover, .dropdown-content a:hover 
{
    background-color: white;
    color: lightblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a 
{
    color: #333;
    font-size: 13px;
    padding: 12px 16px;
    text-decoration: none;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover 
{
    background-color: white;
}

/* Navigation ends */

body
{
    font-family: 'Gaegu', sans-serif;
    margin: 0;
}

#logoNav
{
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#logo
{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    padding-top: 30px;
    opacity: 1;
    text-align: center;
}

h1
{
    text-align: center;
    color: rgb(149, 204, 220);
    font-family: 'Gaegu', cursive;
    font-size: 45px;
    font-weight: 800;
    margin-top: -10px;
}

div.Images
{
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;

	width: 33%;
	box-sizing: border-box;

	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

/* Show only 2 images per row on screens 800x or smaller */
@media only screen and (max-width: 1000px)
{
	div.Images, div.Images a
	{
		width: 50%
	}
}

/* Show only 1 image per row on screens 400px or smaller */
@media only screen and (max-width: 500px)
{
	div.Images, div.Images a
	{
		width: 100%
	}
}

.Images p
{
    color: #333;
    font-size: 13px;
    font-weight: bold;
}

.Images a
{
    color: #333;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.Images a:hover
{
    color: lightblue;
}



footer
{
    text-align: center;
    font-family: 'Gaegu', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 60px;
    overflow: auto; 
    top: 40px;
    position: relative;
    color: rgb(149, 204, 220);
}
